#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };

        combo_kana {
            timeout-ms = <50>;
            key-positions = <16 17>;
            bindings = <&kp LANG1>;
        };

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q      &kp L     &kp U     &kp COMMA    &kp PERIOD        &kp F             &kp W          &kp R        &kp Y      &lt 5 P
&kp E      &kp I     &kp A     &kp O        &kp MINUS         &kp K             &kp T          &kp N        &kp S      &kp H
&kp Z      &kp X     &kp C     &kp V        &lt 2 SEMICOLON   &kp G             &kp D          &kp M        &kp J      &kp B
&kp LSHFT  &kp LALT  &kp LCMD  &lt 4 SPACE  &lt 4 LANGUAGE_2  &lt 1 LANGUAGE_1  &kp BACKSPACE  &lt 1 ENTER  &kp RSHFT  &mt LALT SLASH
            >;
        };

        layer1 {
            label = "NUMBER";
            bindings = <
&kp N0     &kp N1  &kp N2        &kp N3     &trans  &kp PG_UP  &trans     &kp UP    &trans     &kp PG_DN
&kp EQUAL  &kp N4  &kp N5        &kp N6     &trans  &kp HOME   &kp LEFT   &kp DOWN  &kp RIGHT  &kp END
&trans     &kp N7  &kp N8        &kp N9     &trans  &kp ASTRK  &kp SLASH  &kp LBKT  &kp RBKT   &trans
&trans     &trans  &kp LEFT_GUI  &kp LSHFT  &trans  &trans     &trans     &trans    &trans     &trans
            >;
        };

        layer2 {
            label = "FUNCTION";
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &bt BT_SEL 4    &kp F1   &kp F2   &kp F3  &kp F4  &kp F5
&trans        &trans        &trans        &bt BT_CLR_ALL  &bt BT_CLR      &kp F6   &kp F7   &kp F8  &kp F9  &kp F10
&trans        &trans        &trans        &trans          &bt BT_CLR_ALL  &kp F11  &kp F12  &trans  &trans  &trans
&trans        &kp LEFT_ALT  &trans        &trans          &trans          &kp DEL  &trans   &trans  &trans  &kp RIGHT_ALT
            >;
        };

        layer3 {
            label = "MOUSE";
            bindings = <
&trans     &trans  &trans    &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans     &trans  &trans    &trans    &trans  &trans  &mkp MB1  &mkp MB3  &mkp MB2  &trans
&trans     &trans  &trans    &trans    &trans  &trans  &mkp MB4  &trans    &mkp MB5  &trans
&kp LSHFT  &trans  &kp LCMD  &kp LALT  &to 0   &trans  &trans    &trans    &to 0     &kp RALT
            >;
        };

        control {
            bindings = <
&kp LC(Q)   &kp LC(L)     &kp LC(U)     &kp LC(PLUS)  &kp LC(RS(SEMICOLON))  &kp LC(F)  &kp LC(W)   &kp LC(R)  &kp LC(Y)  &kp LC(P)
&kp LC(E)   &kp LC(I)     &kp LC(A)     &kp LC(O)     &kp LC(MINUS)          &kp LC(K)  &kp LC(T)   &kp LC(N)  &kp LC(S)  &kp LC(H)
&kp LC(Z)   &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(SEMI)           &kp LC(G)  &kp LC(D)   &kp LC(M)  &kp LC(J)  &kp LC(B)
&kp LSHIFT  &kp LEFT_ALT  &kp LEFT_GUI  &trans        &trans                 &trans     &kp DELETE  &kp ENTER  &trans     &kp RIGHT_ALT
            >;
        };

        layer_5 {
            label = "WINDOW_NAV";
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &kp LC(LEFT)  &kp LC(UP)    &kp LC(RIGHT)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans        &kp LC(DOWN)  &trans         &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
